<div>
  <mat-form-field  appearance="fill">
    <mat-label>Select User</mat-label>
    <mat-select [(value)]="currentUserName" >
      <mat-option *ngFor="let item of userdata" [value]="item.username">{{item.username}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="  delegateTouser()" >Delegate to user</button>
</div>

<div >
<mat-form-field appearance="fill">
    <mat-label>Select Group</mat-label>
    <mat-select [(value)]="currentGroupName">
      <mat-option *ngFor="let item of groupdata" [value]="item.groupname">{{item.groupname}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)=" delegateToGroup()" >Delegate to group</button>
</div>

