<!-- {{source.filteredData[0].camundaVariableName}}

<div *ngFor="let camVar of CamVariableList.filteredData">
{{camVar.camundaVariableName}}
</div> -->

<div>
  <div mat-dialog-content>
    <table class="mat-elevation-z8" mat-table [dataSource]="source">

      <ng-container matColumnDef="camundaVariableName">

        <td mat-cell *matCellDef="let element">{{element.camundaVariableName}}</td>
      </ng-container>

      <ng-container matColumnDef="camundaVariableValue">

        <td mat-cell *matCellDef="let element"> {{element.camundaVariableValue}} </td>
      </ng-container>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter </td>
      </tr>
    </table>


    <ion-footer class="buttonAlignment">
      <button mat-raised-button color="primary" (click)="Approve()" (click)="completeTask()">Approve</button>
      <button mat-raised-button color="warn" style="text-align: center" (click)="Reject()"
        (click)="completeTask()">Reject</button>
    </ion-footer>
  </div>
</div>