.diagram-parent {
    height: 600px;
    width: 900px;
    border: solid 3px #EEE;
    flex-grow: 1;
  }
  
  .import-error {
    color: red;
    padding: 20px;
  
    position: absolute;
    top: 0;
    left: 0;
  }