<div class="topnav" >
  <div>
    <a href="/"><img mat-card-image src="/assets/images/incedoLogo.png" alt="Incedo Logo"></a>
  </div>

  <div class="topnav-right">
    <a href="/" mat-icon-button color="warn" aria-label="LogOut button to go home">
      <mat-icon>home</mat-icon></a>
  </div>
  <div>
    <button mat-stroked-button color="warn" [matMenuTriggerFor]="processMenu" (click)="ProcessList()" (click)="getProcessdefinition('Plain Value')">Process</button>
    <mat-menu #processMenu="matMenu" yPosition="below">
      <button mat-menu-item (click)="getProcessdefinition('Plain Value')" >Process Definiation</button>
      <button mat-menu-item (click)="getDecisionDefinition('Plain Value')">Decision Definition </button>
    </mat-menu>

    <button mat-stroked-button color="warn" [matMenuTriggerFor]="belowMenu" >Tasks</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item (click)="TaskList()" (click)=" getTaskList()">User Task List</button>
      <button mat-menu-item (click)="TaskList()" (click)="  getGroupTaskList() ">Group Task List</button>
    </mat-menu>
   <!-- Navigate to Task List URL -->
      
  </div>

<div *ngIf="isprocessList">
  <mat-form-field appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
 
  <table class="mat-elevation-z8" mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="definitionKey">
      <th mat-header-cell *matHeaderCellDef>Definition Key</th>
      <td mat-cell *matCellDef="let element">{{element.definitionKey}}</td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="definitionId">
      <th mat-header-cell *matHeaderCellDef>Definition Id</th>
      <td mat-cell *matCellDef="let element"> {{element.definitionId}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Process Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="version">
      <th mat-header-cell *matHeaderCellDef>version</th>
      <td mat-cell *matCellDef="let element"> {{element.version}} </td>
    </ng-container>

    <ng-container matColumnDef="versionTag">
      <th mat-header-cell *matHeaderCellDef>versionTag</th>
      <td mat-cell *matCellDef="let element"> {{element.versionTag}} </td>
    </ng-container>

    <ng-container matColumnDef="startProcess">
      <th  mat-header-cell *matHeaderCellDef> Start Process </th>
      <td  mat-cell *matCellDef="let element"> <button mat-raised-button color="warn"
          (click)="getRecord(element.definitionId)">Start Process</button> </td>
    </ng-container>

    <tr class="header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</div>
<div *ngIf="!isprocessList">
  <mat-form-field  *ngIf="isTaskList" appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  <mat-form-field *ngIf="!isTaskList" appearance="fill">
    <mat-label>Select Group</mat-label>
    <mat-select [(value)]="currentGroupName" (selectionChange)="groupTaskFilter()">
      <mat-option  *ngFor="let item of UserGroupName"  [value]="item">{{item}}</mat-option>
    </mat-select>
  </mat-form-field>
<table class="mat-elevation-z8" mat-table [dataSource]="source">
  <ng-container *ngIf="isTaskList" matColumnDef="checkSelect">
    <th mat-header-cell *matHeaderCellDef  >Select</th>
    <td mat-cell *matCellDef="let element">
      <input
      class="form-check-input" 
      type="checkbox"
      (change)="GetSelected($event,element.taskId,'Plain Value')"></td>
  </ng-container>
  <ng-container matColumnDef="taskTitle">
    <th mat-header-cell *matHeaderCellDef>TaskTitle</th>
    <td mat-cell *matCellDef="let element">{{element.taskTitle}}</td>
  </ng-container>
  <!-- Position Column -->
  <ng-container matColumnDef="taskCreatedTime">
    <th mat-header-cell *matHeaderCellDef>TaskCreatedTime</th>
    <td mat-cell *matCellDef="let element"> {{element.taskCreatedTime}} </td>
  </ng-container>

  <!-- Weight Column-->
  <ng-container matColumnDef="ownerName">
    <th mat-header-cell *matHeaderCellDef>OwnerName</th>
    <td mat-cell *matCellDef="let element"> {{element.ownerName}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container style="display:none" matColumnDef="groupName" >
    <th mat-header-cell *matHeaderCellDef>Group Name</th>
    <td mat-cell *matCellDef="let element"> {{element.groupName}} </td>
  </ng-container>
  <ng-container *ngIf="isTaskList"  style="display:none" matColumnDef="camundaUser" >
    <th mat-header-cell *matHeaderCellDef>Assignee</th>
    <td mat-cell *matCellDef="let element"> {{element.camundaUser}} </td>
  </ng-container>

  <ng-container style="display:none" matColumnDef="priority" >
    <th mat-header-cell *matHeaderCellDef>Priority</th>
    <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
  </ng-container> 
  
  <ng-container *ngIf="!b && isTaskList" matColumnDef="unclaim">
    <th  mat-header-cell *matHeaderCellDef>Unclaim the task</th>
    <td  mat-cell *matCellDef="let element">
    <button mat-raised-button color="warn"  (click)="unclaim(element.taskId)">unclaim</button> </td>
  </ng-container>

  <ng-container *ngIf="!b&&isTaskList" matColumnDef="getTask">
    <th  mat-header-cell *matHeaderCellDef> Get Task Details</th>
    <td  mat-cell *matCellDef="let element"> <button mat-raised-button color="warn"
   (click)="getRecord1(element.taskId,element.camundaVariable,$event,'Plain Value')">Get Task</button> </td>
  </ng-container>
  <ng-container *ngIf="!b && !isTaskList" matColumnDef="claim">
    <th  mat-header-cell *matHeaderCellDef>Claim</th>
    <td  mat-cell *matCellDef="let element">
    <button mat-raised-button color="warn"  (click)="claim(element.taskId)">claim</button> </td>
  </ng-container>

   <tr class="header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter </td>
  </tr>
</table>
 <ion-footer>
  <button *ngIf="b" type="button" style="position: -webkit-sticky;
  position: sticky; bottom: 0%; float: right; width: 25%; height: 35px;background-color: #3498db " (click)="Approve()" (click)="completeTask()">Bulk Approve</button>
  <button *ngIf="b" type="button" style="position: -webkit-sticky;
  position: sticky; bottom: 0%; width: 25%; height: 35px;background-color: #f53d3d;" (click)="Reject()"(click)="Reject()" (click)="completeTask()">Bulk Reject</button>
  </ion-footer>
</div>
</div>

