.topnav {
  top: 0;
  left: 0;
  background-color: #fff;
}

.topnav a {
  color: black;
  font-size: 14px;
}

.topnav a:hover {
  background-color: #fff;
  color: red;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav-right {
  float: right;
}

.mat-cell,
.mat-header-cell {
  font-size: large;
  font-weight: bold;
}

.mat-table {
  height: 100%;
  width: 100%;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  color: red;
}

.header-row {
  font-weight: bold;
}

